$font-size-root: 14px;

@use '~bootstrap/scss/bootstrap' as bootstrap;

.editor {
  font-size: bootstrap.$code-font-size;
  font-family: bootstrap.$font-family-monospace;
}

.btn {
    margin: 2px;
}
