scripts/setup.sh
scripts/run.sh
scripts/deploy.sh
scripts/travis.sh
scripts/update.sh
scripts/docker_push.sh

Dockerfile

node_modules
target
dist
elm-stuff
std

try_gluon.env

.git
.dockerignore
.travis.yml
